.App{
  margin: 0;
  position: absolute;
  width: 900px;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.links{
  font-size: 24px;
  
}

.homeAddButtons{
  margin-right: 15px;
  margin-bottom: 15px;
}
#mainContainer{
  position: relative;
}
#descriptionP{
  font-family: 'IBM Plex Sans', sans-serif;
  display: inline-block;
}

#description{
  font-family: 'IBM Plex Sans', sans-serif;
  width: 500px;
  display: inline-block;
  word-wrap:break-word;
}
p{
  font-family: 'IBM Plex Sans', sans-serif;
}
.edit{
  margin-top: 25px;
}