table, th, td{
  font-family: 'IBM Plex Sans', sans-serif;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
}
table{
  
  width: 1000px;
}
th, td{
  width: 1000px;
  
  text-align: left;
  padding: 8px;
  
}
#searchField{
  margin-top: 4px;
  margin-bottom: 12px;
  padding: 8px;
  width: 600px;
  height: 30px;
  
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 20px;
  outline: none;
}


  button{
  position: relative;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 80px;
  height: 40px;
  background-color: blueviolet;
  border-radius: 20px;
  color: beige;
  outline: none;  
  font-size: 14px;
}

button:hover{
  background-color: rgb(172, 122, 220);
}

label{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
}

.textField{
  padding: 8px;
  width: 600px;
  height: 30px;
  margin-left: 50px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 20px;
  outline: none;  
}

textarea{
  padding: 8px;
  margin-bottom: 20px;
  margin-left: 50px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;  
}
#textInputEdit{
  position: relative;
  left: 62px;
  margin-bottom: 20px;
}

#textInputDirector{
  position: relative;
  margin-bottom: 20px;
  left: 28px;
}
#labelDesc{
  position: relative;
  top: -60px;

}
#ratingRange{
  position: relative;
  left: 90px;
  top: 5px;
}
#ratingCount{
  position: relative;
  left: 110px;
  top: 4px;
}

#saveButton{
  position: relative;
  left: 563px;
  top: 12px;
}

.tableLinks{
  color: blueviolet;
  text-decoration: none;
}

.tableLinks:hover{
  color: rgb(172, 122, 220);
}






#ratingRange {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 400px;
  top: 15px;
}
#ratingRange:focus {
  outline: none;
}
#ratingRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: blueviolet;
  border-radius: 5px;
  border: 1px solid #000000;
}
#ratingRange::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 4px;
  background: #F34FFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
#ratingRange:focus::-webkit-slider-runnable-track {
  background: blueviolet;
}
#ratingRange::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: blueviolet;
  border-radius: 5px;
  border: 1px solid #000000;
}
#ratingRange::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 4px;
  background: #F34FFF;
  cursor: pointer;
}
#ratingRange::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#ratingRange::-ms-fill-lower {
  background: blueviolet;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
#ratingRange::-ms-fill-upper {
  background: blueviolet;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
#ratingRange::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 4px;
  background: #F34FFF;
  cursor: pointer;
}
#ratingRange:focus::-ms-fill-lower {
  background: blueviolet;
}
#ratingRange:focus::-ms-fill-upper {
  background: blueviolet;
}